@import "tailwindcss";

@layer components {
  .sidebar {
    @apply hidden w-[300px] fixed
  }

  .sidebar-buttons {
    @apply shadow-md rounded-lg
  }

  .filter-gray {
    filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(193deg) brightness(120%) contrast(90%);
  }

  .hero-button {
    @apply text-white rounded-lg p-8 flex flex-col items-center justify-center shadow-lg transition border-x-6 hover:scale-105
  }

  .project-card {
    @apply min-w-[250px] bg-white rounded-xl shadow-md flex-shrink-0 p-4 mb-4
  }

  .project-image-div {
    @apply sm:max-h-40 max-h-30 rounded-md mb-4 w-full aspect-[4/3] overflow-hidden
  }

  .project-desc {
    @apply text-gray-600 text-sm mt-1 mb-1
  }
}